.ActualSituation {
    p{
        margin: 0;
    }

    & .inputSearch {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 2em 0;

        & .form-control {
            transition: width 0.4s ease-in-out !important;
            border-radius: 20px !important;
            width: 40% !important;
            margin-left: 5px;
        }

        & .form-control:focus {
            width: 80% !important;
        }
    }

    & .prueba{
        height: 40vh;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
    }

    & .countryCardContainer {
        display: flex;
        justify-content: center;

        & .countryCard {
            margin: 10px;
            border-radius: 20px;
            padding: 20px;
            box-shadow: 10px 18px 42px -19px rgba(0, 0, 0, 0.66);

            & .countryCardText {
                display: flex;
                justify-content: center;
                color: #f50057;
                font-weight: bold;
            }

            & .progress-bar {
                background-color: #f50057 !important;
            }
        }
    }
}